body {
    font-family: Arial;
    background: #f4f6f8;
    margin: 0;
}

.container {
    width: 450px;
    margin: 60px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

label {
    margin-top: 15px;
    display: block;
    font-weight: bold;
}

select, input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}